/*Google Font API*/
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Merriweather:wght@900&family=Montserrat:wght@500&family=Sofia&display=swap');

/*
font-family: 'Fugaz One', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia', cursive;
*/

/*Filter Title */

h1,h3,h4.ds_font2{
	font-family: 'Fugaz One', cursive;
	font-size: 40px;
}

hr.new5 {
  border: 2px solid black;
  border-radius: 5px;
}

label{
	font-size: 20px;
}

input[type=text]{
  width: 100%;
  padding: 25px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=date]{
  width: 50%;
  padding: 25px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


input[type=number]{
  width: 100%;
  padding: 25px 70px;
  margin: 8px 0;
  box-sizing: border-box;
}

button.inner_button{
	padding: 20px 100px;
	border: 5px solid #000000;
	border-radius: 10px;
	font-family: 'Fugaz One', cursive;
	font-size: 29px;
	background-color: #00539CFF;
	color: #FFD662FF;
  transition: all 0.3s ease 0s;
}

button.inner_button:hover{
  background-color: #FFD662FF;
  color:#00539CFF ;
}

button.inner_button2{
  padding: 10px 10px 10px 10px;
  margin: 5px 0px 5px 0px;
  margin-left: 28px;
  font-family: 'Fugaz One', cursive;
  font-size: 27px;
  background-color: #00539CFF;
  color: #FFD662FF;
  border: 5px solid #000000;
  border-radius: 10px;
}

button.inner_button2:hover{
  background-color: #FFD662FF;
  color:#00539CFF ;

}


div.button_group1{
  display: inline;
}